<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="jp.co.fit.vfreport.home" value ="D:\\opt\\Auction" />
      <add key="printer.server.host" value ="gedbserver" />
      <add key="LogFlg" value ="1" />
      <add key="LogDir" value ="D:\\opt\\Auction\\SvfProxyService\\log" />      
    </appSettings>
    <system.runtime.remoting>
        <application>
            <service>               
              <wellknown mode="SingleCall"
                   type="com.icss.ge.Auction.Common.Svf.SvfPrint, SvfProxy"
                   objectUri="General" />
            </service>
            <channels>
                <channel ref="tcp" port="7001" />
            </channels>
        </application>
        <customErrors mode="Off" />
    </system.runtime.remoting>
</configuration>